[default]
region = us-east-1
output = json

[profile Litmus]
account_alias = litmus
username = ${AWS_USERNAME_PRODUCTION}
mfa_serial = ${AWS_MFA_SERIAL_PRODUCTION}

[profile LitmusSandbox]
account_alias = Litmus-Sandbox
username = ${AWS_USERNAME_SANDBOX}
