[user]
	name = eddie cianci
	email = defeated2k4@gmail.com
[color]
	ui = true
[alias]
  aa = add .
	co = checkout
	st = status -sb
	ci = commit
	br = branch
	cp = cherry-pick
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ign = ls-files -o -i --exclude-standard
	pom = push origin master
  shorten = "!sh -c 'curl -i http://git.io -F url=$1' -"
[apply]
	whitespace = nowarn
[core]
	autocrlf = input
	editor = subl
	excludesfile = /Users/defeated/.gitignore_global
[github]
  user = defeated
[push]
	default = current
