[user]
  name = eddie cianci
  email = defeated2k4@gmail.com
[color]
  ui = true
[alias]
  aa = add .
  co = checkout
  cob = checkout -b
  st = status -sb
  ci = commit
  br = branch
  cp = cherry-pick
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ign = ls-files -o -i --exclude-standard
  pom = push origin master
  pre = pull --rebase
  shorten = "!sh -c 'curl -i http://git.io -F url=$1' -"
[apply]
  whitespace = nowarn
[core]
  autocrlf = input
  editor = subl -w -n
  excludesfile = ~/.gitignore_global
[github]
  user = defeated
[push]
  default = simple
[credential]
  helper = osxkeychain
