[user]
	name = eddie cianci
	email = defeated2k4@gmail.com
[color]
	ui = true
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch -av
[apply]
	whitespace = nowarn
[core]
	autocrlf = input
	editor = mate -w
[github]
  user = defeated
